<!DOCTYPE html>
<html lang="en">
<%- include("./Partials/head") %>
<body class="min-h-screen flex items-center justify-center bg-gray-50">
    <div class="flex justify-center items-center space-x-6 my-24">
        <a href="/app/register-user/form" class="cursor-pointer bg-blue-600 text-white font-semibold py-3 px-6 rounded-lg shadow-md transform transition duration-300 hover:bg-blue-700 hover:scale-105">
            Join a Gym
        </a>
        <a href="/app/register-owner/form" class="cursor-pointer bg-green-600 text-white font-semibold py-3 px-6 rounded-lg shadow-md transform transition duration-300 hover:bg-green-700 hover:scale-105">
            Open a Gym
        </a>
    </div>  
</body>
</html>
